.wrapper {
  display: flex;
}

.wrapper ul {
  display: inline-flex;
  list-style-type: none;
}

.wrapper ul li {
  min-width: 190px;
  border: 1px solid;
  text-align: center;
  margin-left: -1px;
}
/* .wrapper ul li :last-child {
  border: unset;
} */
.statusHeader {
  border-bottom: 1px solid;
}

.taskWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.taskBox {
  width: calc(100% - 20px);
  border: 0.5px dotted;
  margin: 5px;
}
